/* ----------------------------------------------
	Extension icon: stand-alone and in heading
   ---------------------------------------------- */
span.extIconSearch {
	background:url('../img/exticon.png') no-repeat 0 0;
}

h1.extIconSearch .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}



/* --------------------------
	Filter controls
   -------------------------- */
#filter-controls .headerLine span {
	margin:5px 0 0 5px;
}

#filter-controls .headerLine span.rgt {
	margin:0;
}

#filtercontrol-conditions option {
	border-bottom:1px solid #ddd;
	color:#333;
}

#filtercontrol-conditions option.default {
	padding:0;
}

#filtercontrol-conditions optgroup {
	font-weight:bold;
}

#filtercontrol-conditions optgroup option {
	padding-left:10px;
}

#filtercontrol-conditions option.odd {

}

#filtercontrol-conditions option.even {

}


/* --------------------------------
	Search Action Panel
	------------------------------- */

#action-panel button.clearFilterArea .icon	{
	background:url(../img/icons.png) no-repeat 0 -87px;
}

#action-panel button.saveAsNewFilter .icon	{
	background:url(../img/icons.png) no-repeat 0 -117px;
}

#action-panel {
	padding:10px 5px;
	margin:10px 0;
	background-color:#EEE;
}

#action-panel .button.searchExportButton .icon	{
	background:transparent url('../../../../core/asset/img/icons.png') 1px -1598px no-repeat;
}

/* --------------------------------
	Search Results
	------------------------------- */
#search-results .results {
	font-weight:bold;
}