@import "../../../../core/config/theme.scss";



select#filtercontrol-conditions {
	width:320px;
}
select#filtercontrol-conjunction {
	margin-left:8px;
}



#widget-area {
	padding:5px 0;

	.filterWidget {
		height:auto;
		width:32%;
		float:left;
		margin:0 6px 5px 0;

		span{
			display:block;
			padding:5px 2px 5px 7px;

			.calendaricon {
				float:left;
				padding:0;
			}

			&.negationButton {
				position:absolute;
				top:0;
				right:25px;
				padding:0;
			}

			&.negation {
				padding:0 0 0 6px;
				background:url(../../../../core/asset/img/bg-button-small.png) no-repeat scroll 2px 4px;
			}

			&.negationRgt {
				height:10px;
				background:url(../../../../core/asset/img/bg-button-small.png) no-repeat scroll -280px 4px;
			}
		}

		.negation span {
			cursor:pointer;

			&.false {
				color:green;
			}

			&.true {
				color:red;
			}
		}

		.widgetheader {
			width:100%;
			position:relative;
			background:$colorNeutral02 url(../img/bg-headerline_filter.png) no-repeat 0 0;

			span {
				float:left;
				display:block;

				&.widgetClose {
					position:absolute;
					right:5px;
					z-index:1;

					a {
						display:block;
						background:url(../../../../core/asset/img/icons.png) no-repeat scroll 0 -360px transparent;
						height:14px;
						width:14px;
						text-indent:-9999px;
					}
				}

				&.clear {
					display:block;
					clear:both;
					float:none;
					padding:0;
				}
			}

			.widgetLabel {
				width:120px;
				padding-right:0;

				&.staggered {
					padding-top:22px;
				}
			}
		}

		.widgetheaderRgt {
			background:$colorNeutral02 url(../img/bg-headerline_filter.png) no-repeat scroll 100% 0;
			height:24px;
			width:3px;
			position:absolute;
			right:0;
			padding:0;
		}
	}

	.widgetbody {
		min-height:25px;
		border:1px solid $colorNeutral02;
		border-top:none;
		padding:5px;

		select {
			width:100%;
		}
	}

	input.date {
		float:left;
		margin-right:5px;
		width:85%;
	}
}

#widget-area .type .widgetbody,
#widget-area .status .widgetbody,
#widget-area .filterSet .widgetbody {
	min-height:85px;
}