#panelwidget-searchfilterlist h1 .title {
	background:transparent url('../img/icons.png') no-repeat 6px -325px;
}

#panelwidget-searchfilterlist .panelwidgetContent {
	margin-top:5px;
}

#panelwidget-searchfilterlist .listItem .actions .save {
	background:transparent url(../img/icons.png) no-repeat scroll 5px -118px !important;
}

#panelwidget-searchfilterlist .listItem .actions .delete {
	background:transparent url(../img/icons.png) no-repeat scroll 4px -88px !important;
}

#panelwidget-searchfilterlist .listItem .actions .visibility {
	background:url(../img/icons.png) no-repeat 4px -178px;
}

#panelwidget-searchfilterlist .listItem .actions .invisible {
	background-position:5px -148px !important;
}

#panelwidget-searchfilterlist .listItem .actions .rename {
	background:transparent url(../img/icons.png) no-repeat scroll 5px -238px !important;
}

#panelwidget-searchfilterlistsearchFilterButton {
	padding:5px;
}

#panelwidget-searchfilterlist button	{
	margin-top:10px;
}