{extends "ext/search/view/filterwidgets/filterwidget-wrap.tmpl"}

{block name="widgetbody"}
	{$selected = explode(',', $definitions.value)}
	<span>
		{select options=$definitions.options value=$selected id="filterwidget-select-$definitions.widgetID" multiple=$definitions.wConf.multiple size=$definitions.wConf.size onchange="Todoyu.Ext.search.Filter.updateConditionValue('$definitions.widgetID', \$F(this))"}
	</span>
{/block}