#filter-controls .headerLine span{
	margin:5px 0 0 5px;
}

#filter-controls .headerLine span.rgt {
	margin:0 0 0 0;
}

#filtercontrol-conditions option {
	border-bottom:1px #848484 dotted;
	color:#333;
}

#filtercontrol-conditions option.default {
	padding:0;
}

#filtercontrol-conditions optgroup {
	/*background-color:#e3eace;*/
	font-weight:bold;
}

#filtercontrol-conditions optgroup option {
	padding-left:10px;
}

#filtercontrol-conditions option.odd {
	/*background-color:#f3f3f3;*/
}

#filtercontrol-conditions option.even {
	/*background-color:#ffffff;*/
}