#filter-controls .headerLine span{
	margin:5px 0 0 5px;
}

#filter-controls .headerLine span.rgt {
	margin:0 0 0 0;
}

#filtercontrol-conditions option {
	border-bottom:1px #848484 dotted;
	color:#333;
}

#filtercontrol-conditions option.default {
	padding:0;
}

#filtercontrol-conditions optgroup {
	background-color:#e3eace;
	font-weight:bold;
}

#filtercontrol-conditions optgroup option {
	padding-left:10px;
}

#filtercontrol-conditions option.odd {
	background-color:#f3f3f3;
}

#filtercontrol-conditions option.even {
	background-color:#ffffff;
}

/* -------------------------
	Tabs 
   -------------------------*/

.tabs #search-tabhead-task p.label span.labeltext {
	padding:0 0 0 18px;
	background:url(../img/icons.png) no-repeat 0px -358px;
}

.tabs #search-tabhead-user p.label span.labeltext {
	padding:0 0 0 15px;
	background:url(../img/icons.png) no-repeat -3px -450px;
}

.tabs #search-tabhead-project p.label span.labeltext {
	padding:0 0 0 18px;
	background:url(../img/icons.png) no-repeat 0 -420px;
}