#widget-area .filterWidget {
	height: auto;
	width: auto;
	float: left;
	margin: 10px 5px;
	border: #ccc dotted 1px;
}

#widget-area .filterWidget span{
	display: block;
	padding: 5px;
}

#widget-area {
	border-bottom: 1px dotted #ccc;
	height: auto !important;
	height: 1px;
	position: relative;
}

#widget-area .filterWidget .widgetheader {
	margin-bottom: 5px;
	height: 22px;
	width: 100%;
	position: relative;
	background-color: #D5DEE5

}

#widget-area .filterWidget .widgetheader span{
	float: left;
	display: block;
}

#widget-area .filterWidget .negation {
	padding: 0;
}

#widget-area .filterWidget .negation span {
	cursor: pointer;
}

#widget-area .filterWidget .negation span.false	{
	color: green;
}

#widget-area .filterWidget .negation span.true	{
	color: red;
}

#widget-area .filterWidget .widgetheader span.widgetClose a {
	display: block;
	background: transparent url(../img/icons.png) repeat-x scroll 0 -210px;
	padding: 7px;
	margin-left: 5px;
	text-indent: -9999px;
}