#headlet-quicksearch-button {
	background:url(../img/icons.png) no-repeat 3px 5px;
}

#headlet-quicksearch-content {
	width:200px;
}

#headlet-quicksearch-form {
	position:relative;
	padding:5px 38px 5px 5px;
}

#headlets #headlet-quicksearch-mode-button {
	position:absolute;
	top:0;
	right:0;
	width:28px;
	height:26px;
	padding:0;
	background-position:0 4px;
	background-color:transparent;
	background:url(../img/icons.png) no-repeat 3px 5px;
}

ul#headlet-quicksearch-modes {
	width:150px;
}

#headlet-quicksearch-modes li:hover {
	border:none;
	background-color:#edf0df;
}

#headlet-quicksearch li.searchmodeAll a {
	background:url(../img/icons.png) no-repeat 2px -27px;
}



#headlet-quicksearch-suggest {
	position:absolute;
	width:350px;
	background-color:#fff;
	border:1px solid #ddd;
	border-top:none;
	text-align:left;
	z-index:210;
}

	#headlet-quicksearch-suggest ul .type {
		display:block;
		width:344px;
		font-weight:bold;
		font-size:14px;
		padding:2px 3px;
		background-color:#d5dee5;
		border-bottom:1px solid #ccc;
	}

	#headlet-quicksearch-suggest ul li ul li a {
		display:block;
		width:338px;
		padding:2px;
		padding-left:10px;
		border-bottom:1px solid #ccc;
	}

	#headlet-quicksearch-suggest ul li ul li.active a,
	#headlet-quicksearch-suggest ul li ul li a:hover {
		background-color:#ffe256;
	}

	#headlet-quicksearch-suggest a span.title {
		font-weight:bold;
	}

	#headlet-quicksearch-suggest a span.info {
		color:#aaa;
		display:block;
		padding-left:10px;
	}