#headlet-QuickSearch {
	
}

#headlet-QuickSearch .button {
	width:30px;
	height:20px;
	border:1px solid #b2b2b2;
	border-right:none;
	background:url(../../../../core/assets/img/headlet.png) no-repeat 0 0;
	cursor:pointer;
}

#headlet-QuickSearch .button .icon {
	margin-top:2px;
	margin-left:1px;
	background:url(../img/icons.png) no-repeat 0 -60px;
}

#headlet-QuickSearch div.box {
	width:200px;
	height:25px;
	padding:3px;
	border:1px solid #CCC;
	background-color:#EEE;
	margin-left:-176px;
	margin-top:2px;
}


#headlet-QuickSearch .field {
	float:left;
	clear:none;
	width:160px;
}

#headlet-QuickSearch .query {
	width:100%;
	font-size:12px;
	font-weight:bold;
	border:1px solid #b2b2b2;
	padding:3px;
}

#headlet-QuickSearch .mode {
	float:right;
	clear:none;
	width:30px;
	height:20px;
}

#headlet-QuickSearch .mode .icon {
	margin-top:2px;
	margin-left:1px;
	background:url(../img/icons.png) no-repeat 0 -30px;
}





#headletquicksearch-suggest {
	position:fixed;
	width:350px;
	background-color:#fff;
	border:1px solid #ddd;
	border-top:none;
	text-align:left;
	z-index:1000;
	/*padding-top:2px;*/
}

	#headletquicksearch-suggest ul .type {
		display:block;
		width:344px;
		font-weight:bold;
		font-size:14px;
		padding:2px 3px;
		background-color:#d5dee5;
		border-bottom:1px solid #ccc;
	}
	
	#headletquicksearch-suggest ul li ul li a {
		display:block;
		width:338px;
		padding:2px;
		padding-left:10px;
		border-bottom:1px solid #ccc;
	}
	
	#headletquicksearch-suggest ul li ul li.active a,
	#headletquicksearch-suggest ul li ul li a:hover {
		background-color:#ffe256;
	}

.searchSuggest a span.title {
	font-weight:bold;
}

.searchSuggest a span.info {
	color:#aaa;
	display:block;
	padding-left:10px;
}

#headletquicksearch-modes {
	display:none;
	position:fixed;
	left:0px;
	top:0px;
	width:140px;
	background-color:#f3f3f3;
	border:1px solid #ddd;
	z-index:1000;
}

	#headletquicksearch-modes li {
		height:14px;
		padding:3px 2px 3px 30px;
		cursor:pointer;
		text-align:left;
		border-bottom:1px solid #ddd;
	}
	
	#headletquicksearch-modes li:hover {
 	   background-color: #d0d8b3 !important;
	}

#headletquicksearch .searchmode-all {
	background:url(../img/icons.png) no-repeat 1px -30px !important;
}

#headletquicksearch-results {
	clear:both;
	margin-top:15px;
	border-top:1px dotted #ccc;
	padding:15px;
}