#headlet-quicksearch-button {
	background:url(../img/icons.png) no-repeat 3px 5px;
}

#headlet-quicksearch-content {
	width:200px;
}

#headlet-quicksearch-form {
	position:relative;
	padding:5px 38px 5px 5px;
}

#headlets #headlet-quicksearch-mode-button {
	position:absolute;
	top:0;
	right:0;
	width:28px;
	height:26px;
	padding:0;
	background-position:0 4px;
	background-color: transparent;
}

ul#headlet-quicksearch-modes {
	width:150px;
}

#headlet-quicksearch-modes li:hover {
	border:none;
	background-color:#edf0df;
}


/*
#headlet-quicksearch div.content {
	width:200px;
	margin-left:-174px;
	padding:2px;
}

#headlet-quicksearch .field {
	float:left;
	clear:none;
	width:160px;
}

#headlet-quicksearch .query {
	width:100%;
	font-size:12px;
	font-weight:bold;
	border:1px solid #b2b2b2;
	padding:3px;
}



#headlet-quicksearch-mode-button {
	float:right;
	clear:none;
	width:30px;
	height:20px;
	cursor:pointer;
}

#headlet-quicksearch .mode .icon {
	margin-top:2px;
	margin-left:1px;
	background:url(../img/icons.png) no-repeat 0 -30px;
}





#headlet-quicksearch-suggest {
	position:absolute;
	width:350px;
	background-color:#fff;
	border:1px solid #ddd;
	border-top:none;
	text-align:left;
	z-index:210;
}

	#headlet-quicksearch-suggest ul .type {
		display:block;
		width:344px;
		font-weight:bold;
		font-size:14px;
		padding:2px 3px;
		background-color:#d5dee5;
		border-bottom:1px solid #ccc;
	}

	#headlet-quicksearch-suggest ul li ul li a {
		display:block;
		width:338px;
		padding:2px;
		padding-left:10px;
		border-bottom:1px solid #ccc;
	}

	#headlet-quicksearch-suggest ul li ul li.active a,
	#headlet-quicksearch-suggest ul li ul li a:hover {
		background-color:#ffe256;
	}

	#headlet-quicksearch-suggest a span.title {
		font-weight:bold;
	}

	#headlet-quicksearch-suggest a span.info {
		color:#aaa;
		display:block;
		padding-left:10px;
	}

#headlet-quicksearch-modes {
	position:fixed;
	left:0px;
	top:0px;
	width:140px;
	background-color:#f3f3f3;
	border:1px solid #ddd;
}

	#headlet-quicksearch-modes li {
		height:14px;
		padding:3px 2px 3px 30px;
		cursor:pointer;
		text-align:left;
		border-bottom:1px solid #ddd;
	}

	#headlet-quicksearch-modes li:hover {
 	   background-color: #d0d8b3 !important;
	}

#headlet-quicksearch .searchmode-all {
	background:url(../img/icons.png) no-repeat 1px -30px !important;
}
*/