{$tabs}
	
<div id="filter-controls" class="overflow">
	{$controls}
</div>

<div id="widget-area" class="overflow">
	{$activeWidgets}
</div>

<div id="search-results" class="overflow">
	{$searchResults}
</div>

{if $init}
<script>{$init}</script>
{/if}