<li>
<form action="?ext=search" method="get" name="search" id="{$id}-form" onsubmit="return false">
	<input type="hidden" name="mode" value="all" id="{$id}-mode" />

	<input name="query" class="query" id="{$id}-query" type="text" autocomplete="off" value="{$query}" />

	<a id="{$id}-mode-button" class="button mode">&nbsp;</a>

	<div style="clear:both;"><!-- --></div>

	{if $searchModes}
		<ul id="{$id}-modes" style="display: none;">
			{foreach $searchModes searchMode}
				<li class="searchmode-{$searchMode.type}">
					<a href="javascript:void(0)" onclick="Todoyu.Ext.search.Headlet.QuickSearch.Modes.setMode('{$searchMode.type}')">
						{Label $searchMode.labelMode}
					</a>
				</li>
			{/foreach}
		</ul>
	{/if}

	<div id="{$id}-suggest" class="searchSuggest" style="display:none"></div>

</form>
</li>